@font-face { font-family: "HelveticaNeue"; src: url("../fonts/HelveticaNeue.eot"); src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HelveticaNeueBold"; src: url("../fonts/HelveticaNeueBold.eot"); src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: "HelveticaNeue", Arial, Tahoma, sans-serif; font-weight: normal; font-size: 13px; color: #464646; line-height: 1.2; }

a img, fieldset { border: none; }

a { text-decoration: none; }

p { line-height: 1.4; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: "HelveticaNeue", Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -240px; background: #f7f7fa; }

.wrap__in { position: relative; width: 1175px; margin: 0 auto; background: white; z-index: 10; }

.push { height: 240px; clear: both; }

.container { width: 940px; padding: 0 10px; margin: 0 auto; }

.container__in { margin-bottom: 30px; background: white; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 3px; }

.title { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 17px; text-transform: uppercase; color: #333333; }

.number { width: 32px; height: 32px; background: #4e9bcc; border-radius: 50%; text-align: center; line-height: 30px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 20px; color: white; }

.header { height: 70px; background: white; }

.logo { float: left; margin: 10px 33px 0 0; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-se5465a8453.png') 0 -350px no-repeat; width: 201px; height: 46px; }

.city { position: relative; float: left; min-width: 173px; margin-top: 18px; -moz-user-select: none; -webkit-user-select: none; user-select: none; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.city span { position: relative; display: block; height: 31px; padding: 0 35px 0 16px; background: #f7f7fa; border-radius: 15px; line-height: 31px; cursor: pointer; }
.city span i { position: absolute; top: 14px; right: 17px; width: 0px; height: 0px; border-style: solid; border-width: 4px 4px 0 4px; border-color: #afbbc0 transparent transparent transparent; }
.city ul { display: none; position: absolute; top: 31px; left: -2px; right: -2px; background: white; border-radius: 0 0 15px 15px; z-index: 10; }
.city li { height: 30px; padding-left: 18px; border-top: 1px solid #f7f7fa; white-space: nowrap; line-height: 30px; cursor: pointer; }
.city li:hover { background: #4e9bcc; color: white; }
.city li:last-child { border-radius: 0 0 10px 10px; }
.city.is-open ul { display: block; border: 2px solid #4e9bcc; border-width: 0 2px 2px 2px; }
.city.is-open span { background: white; border-radius: 15px 15px 0 0; box-shadow: 0 0 0 2px #4e9bcc; }
.city.is-open span i { border-width: 0 4px 4px 4px; border-color: transparent transparent #afbbc0 transparent; }

.enter { float: right; }

.enter__btn { position: relative; height: 32px; padding: 0 14px 0 24px; margin: 17px 0 0 30px; border: 3px solid #4e9bcc; border-radius: 16px; background: white; overflow: visible; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.enter__btn i { position: absolute; top: 9px; left: 9px; background: url('../img/icons-se5465a8453.png') 0 -1786px no-repeat; width: 9px; height: 9px; }
.enter__btn:hover { background: #489cc8; border-color: #489cc8; color: white; }
.enter__btn:hover i { background: url('../img/icons-se5465a8453.png') 0 -1805px no-repeat; width: 9px; height: 9px; }
.enter__btn:active { background: #52b4e7; border-color: #52b4e7; }

.links { float: right; margin-top: 25px; }
.links li { float: left; padding: 0 15px; border-left: 1px solid #c6cfd3; }
.links li:first-child { border: none; }
.links a { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #596c75; }
.links a:hover { color: #4e9bcc; }

.nav { background: #596c75; box-shadow: 0 -2px 0 #475962 inset; }
.nav .container { height: 47px; }
.nav .container li { position: relative; float: left; height: 47px; margin-right: -2px; border-left: 1px solid #4e626b; border-right: 1px solid #7a8991; box-shadow: 1px 0 0 #7a8991 inset, -1px 0 0 #4e6269 inset; line-height: 47px; }
.nav .container li.is-active, .nav .container li:hover { border: none; z-index: 5; }
.nav .container li.is-active a, .nav .container li:hover a { padding: 0 21px 0 59px; }
.nav .container li.is-active i, .nav .container li:hover i { position: absolute; left: 19px; }
.nav .container li:hover { background: #7f919b; box-shadow: 0 -2px 0 #6a7880 inset; }
.nav .container li.is-active { background: #4e9bcc; box-shadow: 0 -2px 0 #2c7eb2 inset; }
.nav .container a { position: relative; display: block; padding: 0 20px 0 58px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
.nav .container i { position: absolute; top: 9px; left: 18px; }

.nav__ico-1 { background: url('../img/icons-se5465a8453.png') 0 -770px no-repeat; width: 26px; height: 26px; }

.nav__ico-2 { background: url('../img/icons-se5465a8453.png') 0 -734px no-repeat; width: 26px; height: 26px; }

.nav__ico-3 { background: url('../img/icons-se5465a8453.png') 0 -698px no-repeat; width: 26px; height: 26px; }

.nav__ico-4 { background: url('../img/icons-se5465a8453.png') 0 -626px no-repeat; width: 26px; height: 26px; }

.nav__ico-5 { background: url('../img/icons-se5465a8453.png') 0 -662px no-repeat; width: 26px; height: 26px; }

.footer { background: white; }
.footer .container { height: 240px; }

.footer__top { padding: 30px 0; }
.footer__top:before, .footer__top:after { content: ""; display: table; }
.footer__top:after { clear: both; }

.footer__nav { float: left; }
.footer__nav ul { float: left; margin-left: 110px; }
.footer__nav ul:first-child { margin: 0; }
.footer__nav li { margin-bottom: 3px; }
.footer__nav a { color: #464646; }
.footer__nav a:hover { text-decoration: underline; }

.footer__down { padding-top: 25px; font-size: 11px; }
.footer__down:before, .footer__down:after { content: ""; display: table; }
.footer__down:after { clear: both; }
.footer__down .logo { float: left; margin: 0 0 0 180px; }

.footer__links { float: right; margin-top: 15px; line-height: 1; }
.footer__links a { float: left; padding-left: 7px; margin-left: 7px; border-left: 1px solid #d8d8d8; color: #464646; }
.footer__links a:first-child { border: none; }

.copyright { float: left; margin-top: 15px; line-height: 1; }

.phone { float: right; }

.phone__number { font-size: 21px; color: #afbbc0; }
.phone__number strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #464646; }

.social { float: right; margin: 5px 30px 0 0; }
.social a { float: left; margin-left: 3px; }
.social a:hover { opacity: 0.6; }

.social__fb { background: url('../img/icons-se5465a8453.png') 0 -1216px no-repeat; width: 33px; height: 32px; }

.social__tw { background: url('../img/icons-se5465a8453.png') 0 -1173px no-repeat; width: 32px; height: 33px; }

.social__vm { background: url('../img/icons-se5465a8453.png') 0 -1131px no-repeat; width: 33px; height: 32px; }

.line { overflow: hidden; }
.line li { float: left; width: 33%; height: 4px; }
.line li:first-child { width: 34%; }

.line__blue { background: #4e9bcc; }

.line__dark { background: #596c75; }

.line__gray { background: #afbbc0; }

.btn { height: 46px; padding: 0 20px; background: #3eae49; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3eae49), color-stop(100%, #2a9b34)); background-image: -webkit-linear-gradient(#3eae49, #2a9b34); background-image: -moz-linear-gradient(#3eae49, #2a9b34); background-image: -o-linear-gradient(#3eae49, #2a9b34); background-image: -ms-linear-gradient(#3eae49, #2a9b34); background-image: linear-gradient(#3eae49, #2a9b34); border-bottom: 2px solid #187c1e; border-radius: 3px; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 15px; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }
.btn:hover { background: #1b9b2a; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1b9b2a), color-stop(100%, #10871a)); background-image: -webkit-linear-gradient(#1b9b2a, #10871a); background-image: -moz-linear-gradient(#1b9b2a, #10871a); background-image: -o-linear-gradient(#1b9b2a, #10871a); background-image: -ms-linear-gradient(#1b9b2a, #10871a); background-image: linear-gradient(#1b9b2a, #10871a); border-color: #08660e; }
.btn:active { border-top: 2px solid #08660e; border-bottom: none; background: #299b33; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #299b33), color-stop(100%, #3dae48)); background-image: -webkit-linear-gradient(#299b33, #3dae48); background-image: -moz-linear-gradient(#299b33, #3dae48); background-image: -o-linear-gradient(#299b33, #3dae48); background-image: -ms-linear-gradient(#299b33, #3dae48); background-image: linear-gradient(#299b33, #3dae48); }

a.btn { display: inline-block; line-height: 44px; text-align: center; }

.btn_gray { background: #cccccc; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #bfbfbf)); background-image: -webkit-linear-gradient(#cccccc, #bfbfbf); background-image: -moz-linear-gradient(#cccccc, #bfbfbf); background-image: -o-linear-gradient(#cccccc, #bfbfbf); background-image: -ms-linear-gradient(#cccccc, #bfbfbf); background-image: linear-gradient(#cccccc, #bfbfbf); border-bottom: 2px solid #a7a7a7; }
.btn_gray:hover { background: #bfbfbf; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfbfbf), color-stop(100%, #a9a9a9)); background-image: -webkit-linear-gradient(#bfbfbf, #a9a9a9); background-image: -moz-linear-gradient(#bfbfbf, #a9a9a9); background-image: -o-linear-gradient(#bfbfbf, #a9a9a9); background-image: -ms-linear-gradient(#bfbfbf, #a9a9a9); background-image: linear-gradient(#bfbfbf, #a9a9a9); border-bottom: 2px solid #888888; }
.btn_gray:active { border-top: 2px solid #888888; border-bottom: none; background: darkgrey; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9a9a9), color-stop(100%, #bfbfbf)); background-image: -webkit-linear-gradient(#a9a9a9, #bfbfbf); background-image: -moz-linear-gradient(#a9a9a9, #bfbfbf); background-image: -o-linear-gradient(#a9a9a9, #bfbfbf); background-image: -ms-linear-gradient(#a9a9a9, #bfbfbf); background-image: linear-gradient(#a9a9a9, #bfbfbf); }

.label { display: block; margin-bottom: 15px; }

.label__title { display: block; margin-bottom: 10px; }

.label__title { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.label__title:before, .label__title:after { content: ""; display: table; }
.label__title:after { clear: both; }
.label__title .checkbox { float: right; font-family: "HelveticaNeue", Arial, Tahoma, sans-serif; }
.label__title .checkbox i { background: white; }

.label__title-small { display: block; margin: -5px 0 10px; font-size: 11px; }

.label__txt { width: 100%; height: 40px; padding: 0 14px; border-radius: 3px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; -moz-box-sizing: border-box; box-sizing: border-box; }

.label__select, .label__date { position: relative; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.label__select span, .label__date span { position: relative; display: block; height: 40px; padding: 0 35px 0 14px; background: white; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 3px; line-height: 40px; color: #b2b2b2; cursor: pointer; }
.label__select span i, .label__date span i { position: absolute; top: 16px; right: 12px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: #464646 transparent transparent transparent; }
.label__select span.is-selected, .label__date span.is-selected { color: #464646; }

.label__date span { font-size: 21px; font-family: "HelveticaNeue", Arial, Tahoma, sans-serif; }
.label__date strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #596c75; }

.label__select { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.label__select ul { display: none; position: absolute; top: 40px; left: -2px; right: -2px; max-height: 250px; background: white; border-top: 1px solid #fafafa; border-radius: 0 0 3px 3px; overflow: auto; }
.label__select li { padding: 5px 14px; cursor: pointer; }
.label__select li:hover { background: #4e9bcc; color: white; }
.label__select.is-open { z-index: 10; }
.label__select.is-open ul { display: block; border: 2px solid #4e9bcc; border-width: 0 2px 2px 2px; }
.label__select.is-open li:first-child { border-top: 2px solid #fafafa; }
.label__select.is-open span { border-radius: 3px 3px 0 0; box-shadow: 0 0 0 2px #4e9bcc; }
.label__select.is-open span i { border-width: 0 5px 6px 5px; border-color: transparent transparent #464646 transparent; }

.label__in:before, .label__in:after, .fieldset:before, .fieldset:after { content: ""; display: table; }
.label__in:after, .fieldset:after { clear: both; }

.fieldset .label { float: left; width: 185px; }
.fieldset .label:first-child { margin-right: 20px; }

.fieldset_mod .label { width: 130px; }
.fieldset_mod .label:first-child { width: 240px; }
.fieldset_mod .label__in .label__select { width: 110px; }

.checkbox { position: relative; padding-left: 22px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.checkbox input, .checkbox i { position: absolute; top: 0; left: 0; width: 16px; height: 16px; }
.checkbox input { opacity: 0; }
.checkbox input:checked + i:before { content: ""; position: absolute; top: 4px; left: 3px; background: url('../img/icons-se5465a8453.png') 0 -1725px no-repeat; width: 11px; height: 9px; }
.checkbox i { background: #f1f1f1; border-radius: 3px; }

.message { position: fixed; top: 250px; left: 50%; width: 290px; padding: 25px; margin-left: -170px; background: white; box-shadow: 0 0 0 2px #4e9bcc; border-radius: 3px; z-index: 1000; }
.message .title { margin-bottom: 10px; }
.message p { margin-bottom: 15px; }
.message .btn { width: 100%; }
.message .message__btns .btn { float: right; width: 135px; }
.message .message__btns .btn:first-child { float: left; }

@font-face { font-family: "HelveticaNeue"; src: url("../fonts/HelveticaNeue.eot"); src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HelveticaNeueBold"; src: url("../fonts/HelveticaNeueBold.eot"); src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); font-weight: normal; font-style: normal; }

.l { margin-bottom: 30px; }
.l:before, .l:after { content: ""; display: table; }
.l:after { clear: both; }

.l__left { float: left; width: 700px; }

.l__right { float: right; width: 220px; }

@font-face { font-family: "HelveticaNeue"; src: url("../fonts/HelveticaNeue.eot"); src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HelveticaNeueBold"; src: url("../fonts/HelveticaNeueBold.eot"); src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); font-weight: normal; font-style: normal; }

.main { padding-bottom: 30px; }
.main .container { position: relative; padding: 0 0 0 10px; }
.main .top { padding: 50px 0 40px; }

.main__bg-left, .main__bg-right { position: absolute; top: 0; }

.main__bg-left { left: -33px; background: url('../img/icons-se5465a8453.png') 0 0 no-repeat; width: 293px; height: 165px; }

.main__bg-right { right: -33px; background: url('../img/icons-se5465a8453.png') 0 -175px no-repeat; width: 259px; height: 165px; }

.main__content:before, .main__content:after { content: ""; display: table; }
.main__content:after { clear: both; }

.main__player { float: left; width: 620px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 3px; overflow: hidden; }

.main__list { float: right; width: 285px; }
.main__list li { margin-bottom: 20px; }
.main__list li:before, .main__list li:after { content: ""; display: table; }
.main__list li:after { clear: both; }
.main__list li:first-child .main__step { border: none; }
.main__list .number { float: left; margin: 0 20px 0 5px; }

.main__step { padding-bottom: 15px; border-bottom: 1px solid #dadfe3; overflow: hidden; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }

@font-face { font-family: "HelveticaNeue"; src: url("../fonts/HelveticaNeue.eot"); src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HelveticaNeueBold"; src: url("../fonts/HelveticaNeueBold.eot"); src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); font-weight: normal; font-style: normal; }

.top { padding: 35px 0 30px; text-align: center; }

.top__title { font-size: 33px; font-weight: bold; color: #596c75; text-transform: uppercase; text-shadow: 0 1px 0 white; }
.top__title span { color: #4e9bcc; }

.top__txt { padding-top: 20px; }
.top__txt p { margin-bottom: 3px; }
.top__txt strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }

.order-cart { position: relative; padding: 3px 3px 0 3px; background: #cad0d9; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cad0d9), color-stop(100%, #afb4bb)); background-image: -webkit-linear-gradient(#cad0d9, #afb4bb); background-image: -moz-linear-gradient(#cad0d9, #afb4bb); background-image: -o-linear-gradient(#cad0d9, #afb4bb); background-image: -ms-linear-gradient(#cad0d9, #afb4bb); background-image: linear-gradient(#cad0d9, #afb4bb); border-radius: 8px 8px 0 0; }
.order-cart:before, .order-cart:after { content: ""; position: absolute; background: #f7f7fa; }
.order-cart:before { left: -17px; right: -15px; bottom: -4px; height: 6px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); border-radius: 50% 50% 0 0; }
.order-cart:after { bottom: -14px; left: -20px; right: -20px; height: 15px; }

.order-cart__in { padding: 12px 20px 20px 20px; background: white; border-radius: 6px 6px 0 0; }
.order-cart__in span { display: block; padding-bottom: 10px; margin-bottom: 16px; border-bottom: 2px solid #d7dddf; overflow: hidden; text-align: right; font-size: 15px; color: #2c7eb2; }
.order-cart__in span strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 17px; }
.order-cart__in span i { float: left; margin-top: 2px; background: url('../img/icons-se5465a8453.png') 0 -1106px no-repeat; width: 108px; height: 15px; }
.order-cart__in .btn { width: 100%; }

.our-cars { background: white; }
.our-cars .container { position: relative; padding: 30px 0; border-bottom: 1px solid #e1e6e8; }
.our-cars .title { margin-bottom: 20px; text-align: center; }

.our-cars__list { text-align: center; font-size: 0; }

.our-cars__item { display: inline-block; width: 150px; padding: 0 19px; vertical-align: top; font-size: 13px; }
.our-cars__item span { display: block; color: #464646; }
.our-cars__item:hover span { text-decoration: underline; }

.our-cars__price { padding-top: 5px; color: #2c7eb2; font-size: 16px; }
.our-cars__price strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }

.our-cars__btn-prev, .our-cars__btn-next { position: absolute; top: 110px; }
.our-cars__btn-prev:hover, .our-cars__btn-next:hover { opacity: 0.6; }

.our-cars__btn-prev { left: -20px; background: url('../img/icons-se5465a8453.png') 0 -1667px no-repeat; width: 17px; height: 24px; }

.our-cars__btn-next { right: -20px; background: url('../img/icons-se5465a8453.png') 0 -1633px no-repeat; width: 17px; height: 24px; }

.faq { padding: 30px 25px 0; background: white; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 3px; }

.faq__type { overflow: hidden; }
.faq__type .number { float: left; margin-right: 15px; }
.faq__type .title { padding: 7px 0 10px; overflow: hidden; }

.faq__list { padding: 0 0 30px 47px; }

.faq__item { border-top: 1px solid #e5e5e5; }
.faq__item:last-child { border-bottom: 1px solid #e5e5e5; }

.faq__item-title { padding: 15px 0; -moz-user-select: none; -webkit-user-select: none; user-select: none; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; cursor: pointer; }
.faq__item-title:hover { color: #4e9bcc; }

.faq__item-txt { display: none; padding-bottom: 15px; }

.call-us { margin-top: 104px; padding: 25px; background: #4e9bcc; border-radius: 3px; color: white; }

.call-us__title { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 18px; text-transform: uppercase; }

.call-us__phone { padding: 10px 0 13px; border-bottom: 2px solid #71afd6; margin-bottom: 12px; text-transform: uppercase; font-size: 17px; }
.call-us__phone strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.call-us__phone span { display: block; padding-top: 5px; text-transform: none; font-size: 13px; }

.call-us__time strong { display: block; font-size: 24px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.call-us__time strong span { display: block; font-size: 13px; }

.need { padding: 30px; overflow: hidden; }

.need__pic { position: relative; float: right; width: 380px; height: 700px; background: url(../img/need.jpg) no-repeat 0 0; }
.need__pic .order-cart:before { display: none; }
.need__pic .order-cart:after { bottom: -2px; height: 2px; background: none; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(148, 184, 208, 0)), color-stop(10%, #94b8d0), color-stop(90%, #94b8d0), color-stop(100%, rgba(148, 184, 208, 0))); background-image: -webkit-linear-gradient(left, rgba(148, 184, 208, 0), #94b8d0 10%, #94b8d0 90%, rgba(148, 184, 208, 0) 100%); background-image: -moz-linear-gradient(left, rgba(148, 184, 208, 0), #94b8d0 10%, #94b8d0 90%, rgba(148, 184, 208, 0) 100%); background-image: -o-linear-gradient(left, rgba(148, 184, 208, 0), #94b8d0 10%, #94b8d0 90%, rgba(148, 184, 208, 0) 100%); background-image: -ms-linear-gradient(left, rgba(148, 184, 208, 0), #94b8d0 10%, #94b8d0 90%, rgba(148, 184, 208, 0) 100%); background-image: linear-gradient(left, rgba(148, 184, 208, 0), #94b8d0 10%, #94b8d0 90%, rgba(148, 184, 208, 0) 100%); }

.need__pic-in { position: absolute; left: 50px; right: 50px; bottom: 40px; }

.need__pic-title { margin-bottom: 40px; }
.need__pic-title strong { display: block; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 22px; text-transform: uppercase; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
.need__pic-title strong:first-child { margin-bottom: 15px; font-size: 15px; }

.need__txt { float: left; width: 470px; }

.need__item { padding-top: 15px; margin-top: 15px; border-top: 1px solid #e5e5e5; }
.need__item:first-child { padding-top: 0; margin-top: 0; border: none; }
.need__item .title { margin-bottom: 7px; }

.reg { padding: 20px; }

.reg__terms { padding: 20px 25px 15px; margin-bottom: 20px; border-radius: 3px; background: #e84646; color: white; }
.reg__terms .title { margin-bottom: 15px; color: white; }
.reg__terms li { position: relative; padding-left: 27px; margin-bottom: 10px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.reg__terms li:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-se5465a8453.png') 0 -1744px no-repeat; width: 14px; height: 14px; }

.reg__cols { margin-bottom: 20px; }
.reg__cols:before, .reg__cols:after { content: ""; display: table; }
.reg__cols:after { clear: both; }

.reg__col { float: left; width: 440px; }
.reg__col:first-child { margin-right: 20px; }

.reg__block { padding: 25px 25px 10px 25px; background: #f1f1f1; border-radius: 4px; }
.reg__block .title { padding-bottom: 15px; border-bottom: 1px solid #d8d8d8; margin-bottom: 15px; }
.reg__block .title_mod { margin-top: 10px; padding-top: 15px; border-top: 1px solid #d8d8d8; }

.reg__block_mod { margin-top: 20px; padding-bottom: 56px; }

.reg__date:before, .reg__date:after { content: ""; display: table; }
.reg__date:after { clear: both; }
.reg__date .label__select { float: left; }

.reg__day, .reg__year { width: 95px; }

.reg__day { margin-right: 20px; }

.reg__month { width: 160px; margin-right: 20px; }

.reg__security { margin-bottom: 20px; padding: 20px 25px; background: #f3bf5a; border-radius: 3px; color: white; }
.reg__security .title { margin-bottom: 15px; color: white; }
.reg__security .label__select { width: 405px; color: #464646; }
.reg__security .label__select span { color: #464646; }
.reg__security .label__select li:hover { background: #e49804; }
.reg__security .label__select.is-open span { box-shadow: 0 0 0 2px #e49804; }
.reg__security .label__select.is-open ul { border-color: #e49804; }

.reg__pay { padding: 0 0 35px 115px; margin: 0 20px 30px; border-bottom: 1px solid #e5e5e5; }
.reg__pay:before, .reg__pay:after { content: ""; display: table; }
.reg__pay:after { clear: both; }
.reg__pay .reg__block { float: left; width: 390px; }

.reg__card { float: left; position: relative; width: 215px; height: 325px; margin-right: 20px; border-radius: 3px; background: #fbefcf; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbefcf), color-stop(100%, #f5d99b)); background-image: -webkit-linear-gradient(#fbefcf, #f5d99b); background-image: -moz-linear-gradient(#fbefcf, #f5d99b); background-image: -o-linear-gradient(#fbefcf, #f5d99b); background-image: -ms-linear-gradient(#fbefcf, #f5d99b); background-image: linear-gradient(#fbefcf, #f5d99b); border-bottom: 1px solid #ddc48c; overflow: hidden; }

.reg__card-in { position: relative; padding: 35px 40px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #4e9bcc; text-shadow: 0 1px 0 white; text-align: center; z-index: 5; }
.reg__card-in strong { display: block; padding-bottom: 25px; margin-bottom: 80px; border-bottom: 1px solid #f5d78b; box-shadow: 0 1px 0 0 white; text-transform: uppercase; font-size: 16px; }
.reg__card-in span { font-size: 24px; }

.reg__carg-bg { position: absolute; top: 110px; left: 0; background: url('../img/icons-se5465a8453.png') 0 -406px no-repeat; width: 216px; height: 210px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.reg__card-user .label { width: 255px; }
.reg__card-user .label:first-child { width: 115px; }

.reg__confirm { margin: 0 20px 25px; padding-bottom: 30px; border-bottom: 1px solid #e5e5e5; }
.reg__confirm .title { margin-bottom: 25px; }
.reg__confirm ul { margin-bottom: 20px; }
.reg__confirm li { margin-bottom: 5px; }
.reg__confirm li span { color: #4e9bcc; }

.reg__btn { margin: 0 20px 15px; }

.selection { float: left; width: 455px; padding: 20px; background: #ebedf0; border-radius: 3px; }

.selection_wide { float: none; width: auto; margin-bottom: 20px; }
.selection_wide .selection__from, .selection_wide .selection__to { width: auto; }
.selection_wide .selection__from .label, .selection_wide .selection__from .fieldset, .selection_wide .selection__to .label, .selection_wide .selection__to .fieldset { float: left; }
.selection_wide .selection__from > .label:first-child, .selection_wide .selection__to > .label:first-child { width: 162px; margin-right: 15px; }
.selection_wide .selection__from .fieldset, .selection_wide .selection__to .fieldset { margin-top: 25px; }
.selection_wide .selection__time { margin-top: 0; }
.selection_wide .selection__time-in { width: auto; overflow: hidden; }
.selection_wide .selection__time-in button { float: left; width: 20px; height: 40px; }
.selection_wide .selection__time-in strong { float: left; width: 74px; height: 38px; line-height: 38px; }
.selection_wide .selection__time-hour { margin-bottom: 10px; text-align: left; color: #464646; }
.selection_wide .selection__time-up i { background: url('../img/icons-se5465a8453.png') 0 -1060px no-repeat; width: 9px; height: 13px; }
.selection_wide .selection__time-down i { background: url('../img/icons-se5465a8453.png') 0 -1083px no-repeat; width: 9px; height: 13px; }
.selection_wide .selection__search .label { width: 667px; }

.selection__row:before, .selection__row:after { content: ""; display: table; }
.selection__row:after { clear: both; }
.selection__row:first-child { margin-bottom: 15px; border-bottom: 1px solid #d9dee2; }

.selection__from, .selection__to { float: left; width: 175px; }
.selection__from .label__title, .selection__to .label__title { font-family: "HelveticaNeue", Arial, Tahoma, sans-serif; }
.selection__from .fieldset .label, .selection__to .fieldset .label { width: 80px; }
.selection__from .fieldset .label:first-child, .selection__to .fieldset .label:first-child { margin-right: 0; }
.selection__from .fieldset .label__select span, .selection__to .fieldset .label__select span { font-size: 15px; color: #596c75; }

.selection__dots { float: left; width: 15px; padding-top: 7px; text-align: center; font-size: 16px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }

.selection__time { float: left; margin: 25px 14px 0; text-align: center; }

.selection__time-in { width: 73px; border: 1px solid #d9dee2; border-radius: 4px; }
.selection__time-in button { width: 73px; height: 23px; background: none; }
.selection__time-in button i { display: inline-block; }
.selection__time-in strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 24px; color: #4e9bcc; letter-spacing: -1px; }

.selection__time-up i { background: url('../img/icons-se5465a8453.png') 0 -1041px no-repeat; width: 13px; height: 9px; }

.selection__time-down i { background: url('../img/icons-se5465a8453.png') 0 -1022px no-repeat; width: 13px; height: 9px; }

.selection__time-hour { color: #596c75; }

.selection__arr { position: relative; float: left; width: 41px; height: 40px; margin-right: 15px; background: #596c75; border-bottom: 2px solid #475962; border-radius: 3px; }
.selection__arr i { position: absolute; top: 11px; left: 11px; background: url('../img/icons-se5465a8453.png') 0 -1520px no-repeat; width: 18px; height: 16px; }

.selection__search { float: left; border-radius: 3px; }
.selection__search .label { position: relative; float: left; width: 272px; margin-bottom: 0; }
.selection__search .label i { position: absolute; top: 11px; left: 10px; background: url('../img/icons-se5465a8453.png') 0 -1546px no-repeat; width: 17px; height: 18px; }
.selection__search .label__txt { padding: 0 14px 0 35px; }

.selection__down { position: relative; float: left; width: 125px; }
.selection__down span, .selection__down li { padding-left: 16px; height: 40px; line-height: 40px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: white; cursor: pointer; }
.selection__down span { position: relative; display: block; background: #afbbc0; border-radius: 3px 0 0 3px; }
.selection__down span i { position: absolute; top: 16px; right: 12px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: white transparent transparent transparent; }
.selection__down ul { display: none; position: absolute; top: 39px; left: 0; right: 0; background: #afbbc0; border-top: 1px solid #b7c2c6; border-radius: 0 0 3px 3px; overflow: hidden; }
.selection__down ul li:hover { background: #596c75; }
.selection__down.is-open span { border-radius: 3px 0 0 0; }

.choice { position: relative; padding: 25px; box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2); z-index: 10; }
.choice .title { margin-bottom: 15px; }

.choice__cols:before, .choice__cols:after { content: ""; display: table; }
.choice__cols:after { clear: both; }

.choice__cars { float: right; width: 345px; padding: 30px 0; border: 1px solid #e5e5e5; border-width: 1px 0; }

.choice__cars-in { margin: 0 -20px -30px 0; font-size: 0; }
.choice__cars-in a { display: inline-block; width: 105px; margin: 0 15px 30px 0; vertical-align: top; text-align: center; }
.choice__cars-in a span { display: block; padding: 2px 0; border-radius: 3px; font-size: 13px; color: #464646; }
.choice__cars-in a:hover span { background: #586c74; color: white; }
.choice__cars-in a:active span { background: #489cc8; color: white; }
.choice__cars-in a.is-active span, .choice__cars-in a.is-active:hover span, .choice__cars-in a.is-active:active span { background: #dfe4e7; }

.choice__cars_wide { float: none; width: auto; padding: 0; border: none; }
.choice__cars_wide .title { position: relative; display: inline-block; padding-right: 27px; }
.choice__cars_wide .title i { position: absolute; top: 6px; right: 0; background: url('../img/icons-se5465a8453.png') 0 -1768px no-repeat; width: 13px; height: 8px; }
.choice__cars_wide .choice__cars-in { margin: 0; padding: 10px; border-top: 1px solid #e5e5e5; }
.choice__cars_wide .choice__cars-in strong { display: inline-block; width: 200px; margin-top: 22px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #596c75; font-size: 18px; }
.choice__cars_wide .choice__cars-in a { margin: 0 15px 0 0; }

.map__in { position: relative; }

.map__mark { position: relative; padding: 20px 25px; box-shadow: 0 -5px 5px -2px rgba(0, 0, 0, 0.2); z-index: 10; }
.map__mark:before, .map__mark:after { content: ""; display: table; }
.map__mark:after { clear: both; }
.map__mark li { float: left; position: relative; width: 180px; margin-right: 20px; padding-left: 27px; font-size: 11px; color: #596c75; }
.map__mark li i { position: absolute; top: 0; left: 0; }

.map__mark-green { background: url('../img/icons-se5465a8453.png') 0 -1387px no-repeat; width: 18px; height: 26px; }

.map__mark-yellow { background: url('../img/icons-se5465a8453.png') 0 -1459px no-repeat; width: 18px; height: 26px; }

.map__mark-red { background: url('../img/icons-se5465a8453.png') 0 -1423px no-repeat; width: 18px; height: 26px; }

.auto { position: absolute; top: 10px; right: 10px; width: 360px; background: #fafafa; }

.auto__title { padding: 8px 10px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }

.auto__in { position: relative; padding: 30px 20px 5px; background: white; border-bottom: 1px solid #e0e4e6; }

.auto__in_mod .auto__item span { background: #f4b610; }

.auto__item { margin-bottom: 15px; overflow: hidden; }
.auto__item span, .auto__item img, .auto__item ul, .auto__item li { float: left; }
.auto__item span { width: 24px; height: 24px; margin-right: 20px; background: #31a63c; border-radius: 50%; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: white; font-size: 16px; text-align: center; line-height: 21px; }
.auto__item img { margin-right: 20px; }
.auto__item ul { margin-top: 4px; }
.auto__item li { width: 27px; height: 16px; background: #ebedf0; box-shadow: -1px 0 0 rgba(0, 0, 0, 0.2); }
.auto__item li:first-child, .auto__item li:last-child { width: 18px; }
.auto__item li:first-child { border-radius: 6px 0 0 6px; box-shadow: none; }
.auto__item li:last-child { border-radius: 0 6px 6px 0; }
.auto__item li.is-red { background: #cf0000; }
.auto__item li.is-green { background: #4bdb58; }

.auto__time { position: absolute; top: 15px; left: 142px; font-size: 11px; }

.auto__time_mod { left: 305px; }

.auto__line { position: absolute; top: 30px; bottom: 20px; left: 156px; width: 1px; background: black; background: rgba(0, 0, 0, 0.2); }

.auto__line_mod { left: 318px; }

.car__item { margin-bottom: 20px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 3px; background: white; }
.car__item:before, .car__item:after { content: ""; display: table; }
.car__item:after { clear: both; }
.car__item:last-child { margin-bottom: 30px; }

.car__pic { float: left; width: 520px; position: relative; }
.car__pic img { display: block; border-radius: 3px 0 0 3px; }

.car__pic-in { position: absolute; bottom: 0; left: 0; right: 0; padding: 35px 25px 35px 90px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8))); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); border-radius: 3px 0 0 3px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: white; text-shadow: 0 1px 0 #443f3b; }
.car__pic-in img { position: absolute; top: 35px; left: 35px; }
.car__pic-in strong { display: block; font-size: 21px; }

.car__right { padding: 25px 30px; overflow: hidden; }
.car__right .title { padding: 10px 0 7px; text-align: center; font-size: 11px; }
.car__right .btn { width: 100%; }

.car__param { padding-bottom: 4px; overflow: hidden; }
.car__param li { position: relative; float: left; margin-right: 20px; line-height: 1; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; font-size: 24px; color: #596c75; }
.car__param i { position: absolute; top: 3px; left: 0; }

.car__door { padding-left: 26px; }
.car__door i { top: 3px; background: url('../img/icons-se5465a8453.png') 0 -1357px no-repeat; width: 22px; height: 20px; }

.car__man { padding-left: 22px; }
.car__man i { top: 2px; background: url('../img/icons-se5465a8453.png') 0 -1603px no-repeat; width: 14px; height: 20px; }

.car__option { padding: 12px 0; border: 1px solid #e5e5e5; border-width: 1px 0; overflow: hidden; }
.car__option li { position: relative; float: left; padding-left: 30px; margin-left: 25px; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.car__option li:first-child { margin-left: 0; }
.car__option li i { position: absolute; top: -6px; left: 0; }

.car__option-1 { background: url('../img/icons-se5465a8453.png') 0 -878px no-repeat; width: 26px; height: 26px; }

.car__option-2 { background: url('../img/icons-se5465a8453.png') 0 -806px no-repeat; width: 26px; height: 26px; }

.car__option-3 { background: url('../img/icons-se5465a8453.png') 0 -950px no-repeat; width: 26px; height: 26px; }

.car__option-4 { background: url('../img/icons-se5465a8453.png') 0 -986px no-repeat; width: 26px; height: 26px; }

.car__option-5 { background: url('../img/icons-se5465a8453.png') 0 -914px no-repeat; width: 26px; height: 26px; }

.car__option-6 { background: url('../img/icons-se5465a8453.png') 0 -842px no-repeat; width: 26px; height: 26px; }

.car__message { padding: 5px 0 10px; font-size: 11px; text-align: center; }
.car__message strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #4e9bcc; }

.car__price { width: 100%; }
.car__price th, .car__price td { padding: 7px 5px; border: 1px solid #e5e5e5; text-align: center; }
.car__price th:first-child, .car__price td:first-child { text-align: left; }
.car__price th { font-size: 10px; text-transform: uppercase; color: #596c75; }
.car__price th.is-orange { color: #f4b610; }
.car__price td { font-size: 12px; color: #4e9bcc; }
.car__price td strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.car__price td:first-child { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #464646; }
.car__price td:first-child i, .car__price td:first-child span { display: inline-block; vertical-align: middle; }
.car__price td:first-child i { margin-right: 9px; }
.car__price td:first-child span { margin-top: 1px; }

.car__day { background: url('../img/icons-se5465a8453.png') 0 -1574px no-repeat; width: 19px; height: 19px; }

.car__night { background: url('../img/icons-se5465a8453.png') 0 -1701px no-repeat; width: 15px; height: 14px; }

.car__clock { background: url('../img/icons-se5465a8453.png') 0 -1495px no-repeat; width: 16px; height: 15px; }

.plans { padding: 20px 0; }

.plans__row { position: relative; }
.plans__row:before, .plans__row:after { content: ""; display: table; }
.plans__row:after { clear: both; }
.plans__row li { float: left; width: 215px; text-align: center; margin-right: 20px; }
.plans__row li:first-child { width: 390px; margin-left: 40px; text-align: left; -moz-box-sizing: border-box; box-sizing: border-box; }
.plans__row li.plans__contacts { width: 430px; margin-left: 0; padding-top: 25px; }
.plans__row .plans__price-first, .plans__row .plans__price-second { width: 135px; }

.plans__title .top { padding: 25px 0; text-align: left; }

.plans__card { height: 89px; background: #f2f2f2; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(#f2f2f2, #f0f0f0); background-image: -moz-linear-gradient(#f2f2f2, #f0f0f0); background-image: -o-linear-gradient(#f2f2f2, #f0f0f0); background-image: -ms-linear-gradient(#f2f2f2, #f0f0f0); background-image: linear-gradient(#f2f2f2, #f0f0f0); border-radius: 5px 5px 0 0; border-top: 1px solid #fbfbfb; line-height: 89px; }
.plans__card strong { display: inline-block; vertical-align: middle; margin: 0 40px; line-height: 1; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #4e9bcc; font-size: 20px; text-transform: uppercase; text-shadow: 0 1px 0 white; text-align: center; }

.plans__card_gold { background: #fbefcf; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbefcf), color-stop(100%, #faeecc)); background-image: -webkit-linear-gradient(#fbefcf, #faeecc); background-image: -moz-linear-gradient(#fbefcf, #faeecc); background-image: -o-linear-gradient(#fbefcf, #faeecc); background-image: -ms-linear-gradient(#fbefcf, #faeecc); background-image: linear-gradient(#fbefcf, #faeecc); border-color: #fefaef; }

.plans__price-first, .plans__price-second { position: absolute; top: 0; left: 490px; bottom: 0; line-height: 1; border-top: 1px solid #dddddd; box-shadow: 0 1px 0 white inset; z-index: 10; }
.plans__price-first strong, .plans__price-second strong { position: absolute; top: 30%; left: 0; right: 0; font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; color: #4e9bcc; font-size: 27px; text-shadow: 0 1px 0 white; text-align: center; }
.plans__price-first strong span, .plans__price-second strong span { display: block; }
.plans__price-first i, .plans__price-second i { position: absolute; left: 50px; top: 30%; }
.plans__price-first .plans__no, .plans__price-second .plans__no { left: 52px; top: 35%; }

.plans__price-big strong { top: 40%; }

.plans__price-second { left: 725px; border-color: #f5d585; }

.plans__no { background: url('../img/icons-se5465a8453.png') 0 -1326px no-repeat; width: 21px; height: 21px; }

.plans__ok { background: url('../img/icons-se5465a8453.png') 0 -1258px no-repeat; width: 31px; height: 26px; }

.plans__bg { position: relative; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 3px; background: white; }
.plans__bg .plans__row:first-child li:first-child { border: none; }
.plans__bg .plans__row li:first-child { padding: 25px 0; border-top: 1px solid #e5e5e5; }

.plans__txt { padding-top: 20px; }

.plans__btn { background: #e0e0e0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(#e0e0e0, #dfdfdf); background-image: -moz-linear-gradient(#e0e0e0, #dfdfdf); background-image: -o-linear-gradient(#e0e0e0, #dfdfdf); background-image: -ms-linear-gradient(#e0e0e0, #dfdfdf); background-image: linear-gradient(#e0e0e0, #dfdfdf); border-bottom: 1px solid #c9c9c9; border-radius: 0 0 5px 5px; }

.plans__btn-in { padding: 32px 0; margin: 0 40px; border-top: 1px solid #dddddd; box-shadow: 0 1px 0 white inset; text-align: center; }
.plans__btn-in .btn { width: 100%; }

.plans__btn_mod { background: #f6da9f; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6da9f), color-stop(100%, #f5d99b)); background-image: -webkit-linear-gradient(#f6da9f, #f5d99b); background-image: -moz-linear-gradient(#f6da9f, #f5d99b); background-image: -o-linear-gradient(#f6da9f, #f5d99b); background-image: -ms-linear-gradient(#f6da9f, #f5d99b); background-image: linear-gradient(#f6da9f, #f5d99b); border-color: #ddc48c; }
.plans__btn_mod .plans__btn-in { border-color: #f5d585; }

.plans__col-first, .plans__col-second { position: absolute; top: 0; bottom: 0; width: 215px; }
.plans__col-first i, .plans__col-second i { position: absolute; top: 20%; background: url('../img/icons-se5465a8453.png') 0 -406px no-repeat; width: 216px; height: 210px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.plans__col-first { left: 450px; background: #f0f0f0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #e0e0e0)); background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0); background-image: -moz-linear-gradient(#f0f0f0, #e0e0e0); background-image: -o-linear-gradient(#f0f0f0, #e0e0e0); background-image: -ms-linear-gradient(#f0f0f0, #e0e0e0); background-image: linear-gradient(#f0f0f0, #e0e0e0); }

.plans__col-second { left: 685px; background: #faeecc; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faeecc), color-stop(100%, #f6da9f)); background-image: -webkit-linear-gradient(#faeecc, #f6da9f); background-image: -moz-linear-gradient(#faeecc, #f6da9f); background-image: -o-linear-gradient(#faeecc, #f6da9f); background-image: -ms-linear-gradient(#faeecc, #f6da9f); background-image: linear-gradient(#faeecc, #f6da9f); }

.plans__contacts p { margin-bottom: 5px; line-height: 1; }
.plans__contacts p strong { font-family: "HelveticaNeueBold", Arial, Tahoma, sans-serif; }
.plans__contacts p:first-child { margin-bottom: 10px; }
.plans__contacts p:first-child strong { display: block; font-size: 15px; }

.plans__phone span, .plans__phone strong { font-size: 20px; }
.plans__phone span { color: #afbbc0; }

.rules { margin-bottom: 10px; }
.rules:before, .rules:after { content: ""; display: table; }
.rules:after { clear: both; }

.rules__col { float: left; margin-left: 20px; }
.rules__col:first-child { margin-left: 0; }

.rules__item { width: 300px; margin-bottom: 20px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 3px; background: white; }

.rules__desc { padding: 25px; }
.rules__desc .title { position: relative; margin-bottom: 10px; padding-left: 45px; line-height: 1.2; }
.rules__desc .title .number { position: absolute; top: 0; left: 0; }

.rules__pic { position: relative; }
.rules__pic img { display: block; border-radius: 0 0 3px 3px; }
.rules__pic span { position: absolute; top: 50%; left: 50%; width: 36px; height: 36px; margin: -22px 0 0 -22px; border: 4px solid rgba(255, 255, 255, 0.8); background: rgba(0, 0, 0, 0.7); border-radius: 50%; }
.rules__pic span i { position: absolute; top: 7px; left: 11px; width: 0px; height: 0px; border-style: solid; border-width: 11px 0 11px 20px; border-color: transparent transparent transparent white; }
